Flask
Flask-Cors
gunicorn
python-dotenv
pandas
scikit-learn
numpy
PyJWT
passlib[bcrypt]
pymongo
torch
pytorch-lightning
lightning
pytorch-forecasting
torchmetrics
joblib
matplotlib
seaborn
xgboost
shap
rapidfuzz
certifi
bson
linkedin-api