Flask
Flask-Cors
gunicorn
gevent
python-dotenv
pandas
scikit-learn
numpy
PyJWT
passlib[bcrypt]
pymongo
torch
pytorch-lightning
lightning
pytorch-forecasting
torchmetrics
joblib
matplotlib
seaborn
xgboost
shap
lime
rapidfuzz
certifi
linkedin-api
selenium
beautifulsoup4
webdriver-manager
requests