<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masterarbeit - Predictive Talent Analytics</title>
    <link rel="stylesheet" href="static/css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <!-- Logos -->
            <div class="logo-container">
                <img src="static/images/logo.png" alt="Aurio Technology Logo" class="navbar-logo">
                <img src="static/images/ur-logo.png" alt="UR Logo" class="navbar-logo">
            </div>
    
            <!-- Checkbox für das Menü -->
            <input type="checkbox" id="menu-checkbox" class="checkbox" />
    
            <!-- Hamburger Button -->
            <label for="menu-checkbox" class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </label>
    
            <!-- Menü -->
            <ul class="menu-items">
                <li><a href="/" onclick="closeMenu()">Karriere-Prognose</a></li>
                <li><a href="/about" onclick="closeMenu()">Masterarbeit</a></li>
            </ul>
        </div>
    </nav>

    <div class="about-section" id="about">
        <div class="about-text">
            <h2>Development of an AI models to predict the optimal timing of a career move based on career history </h2>
            <p>Master Thesis</p>
            <br>
            <p>Wie lässt sich der optimale Zeitpunkt für den nächsten Karriereschritt vorhersagen? Unsere Forschung setzt genau hier an: Mit der Kraft künstlicher Intelligenz analysieren wir relevante Faktoren der beruflichen Laufbahn, um den bestmöglichen Zeitpunkt für eine Veränderung präzise zu prognostizieren.</p>
            <br>
            <p>Im Rahmen einer Masterarbeit wird ein innovatives KI-Modell entwickelt und trainiert, das anhand ausgewählter Karrieredaten eine präzise Vorhersage ermöglicht. Dabei stehen Datenqualität, Modellperformance und Praxistauglichkeit im Fokus.</p>
            <br>
            <p><strong>Unser Ziel: </strong>Eine datenbasierte Lösung, die Unternehmen und Talente gleichermaßen unterstützt – für eine gezielte Karriereplanung und strategisches Talentmanagement.</p> 
        </div>

        <div class="profile-section">
            <div class="profile-container">
                <img src="static/images/career2.avif" alt="Profilbild" class="profile-img">
            </div>
            
            <div class="facts-container">
                <h2>Forschungsfragen der Masterarbeit</h2>
                <div class="fact">
                    <img src="static/images/data.avif" alt="Aurio Icon" class="company-icon">
                    <div class="fact-text">
                        <span class="large-text">Datengrundlage</span>
                        <span class="small-text">Welche beruflichen Daten sind erforderlich, um KI-Modelle zur Vorhersage des Zeitpunkts des nächsten Karriereschritts zu entwickeln?</span>
                    </div>
                </div>
                <div class="fact">
                    <img src="static/images/ai.jpeg" alt="Uni Icon" class="student-icon">
                    <div class="fact-text">
                        <span class="large-text">Analyse Model</span>
                        <span class="small-text">Welches KI-Modell eignet sich am besten zur Vorhersage des Zeitpunkts des nächsten Karriereschritts?</span>
                    </div>
                </div>
                
                <div class="fact">
                    <img src="static/images/performance.jpg" alt="Uni Icon" class="student-icon">
                    <div class="fact-text">
                        <span class="large-text">Analyse der Modelperformance</span>
                        <span class="small-text">Welche Methode eignet sich am besten um die Modellperformance zu analysieren?</span>
                    </div>
                </div>
                
                <div class="fact">
                    <img src="static/images/active_sourcing.avif" alt="AI Icon" class="tech-icon">
                    <div class="fact-text">
                        <span class="large-text">Active-Sourcing</span>
                        <span class="small-text">Wie können die Ergebnisse auf das Active-Sourcing angewendet werden?</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-text">
            <p>Die Herausforderung, die Wechselbereitschaft von Talenten frühzeitig zu erkennen, ist Gegenstand meiner Masterarbeit. Um diese Problematik anzugehen, entwickle ich ein KI-Modell, das den optimalen Zeitpunkt für den nächsten Karriereschritt prognostizieren soll.</p>
        </div>
    </div>

    <div class="contact-section" id="contact">
        <div class="copyright">
            <p>&copy; 2025 Florian Runkel</p>
        </div>
    </div>

    <script src="static/js/main.js"></script>
</body>
</html>
